<div class="footer-one-block">
  <div class="footer-cards">
    {% for card in cards %}
      <div class="footer-card">
        {% if card.image %}
        <div class="card-image">
          <img src="{{ card.image }}" alt="Footer Card Image">
        </div>
        {% endif %}
        <div class="card-text">
            {{ card.text }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
